
<div class="container">
    <div class="card">
        <div class="card-header">
          <h5 class="card-title">รหัสนักศึกษา</h5>
        </div>
        <div class="card-body">
        
          <p class="card-text">
          </p>
          <form>
              <div class="form-group">
                <label for="exampleInputEmail1"></label>
                <input type="text" #input class="form-control" aria-describedby="emailHelp" placeholder="รหัสนักศึกษา">
                 </div>
          
              <button type="submit" class="btn btn-primary" (click)="goto(input.value)">ตกลง</button>
            </form>
          
        </div>
      </div>
      
  
</div>