<app-nav2></app-nav2>
<ngx-spinner></ngx-spinner>
<div class="container" style="text-align:center">
  <h1>ส่งการบ้าน</h1>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">รหัสวิชา</th>
        <th>ชื่อวิชา</th>
        <th>รายละเอียด</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of hm">
        <th scope="row"><a href="/send/{{data.uid}}/{{data.value}}">{{data.value}}</a></th>
        <th>{{data.name}}</th>
        <th>{{data.detail}}</th>
      </tr>

    </tbody>
  </table>


</div>